@media screen and (max-width: 1300px)
{
    .artheb
    {
        width: 220px;
    }
    .imgheberge
    {
        width:220px;
    }
    .artpop
    {
        width: 80%;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 270px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 270px;
    }
}

@media screen and (max-width: 1296px)
{
    .floatpop .nuit1
    {
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 1291px)
{
    .artpop a
    {
        margin-right:0px
    }
    .floatpop .nuit1
    {
        margin-bottom: 15px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 268px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 268px;
    }
}

@media screen and (max-width: 1279px)
{
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 265px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 265px;
    }
}

@media screen and (max-width: 1264px)
{
    .artheb
    {
        width: 210px;
    }
    .imgheberge
    {
        width: 210px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 260px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 260px;
    }
}

@media screen and (max-width: 1237px)
{
    .imgpop1
    {
        width: 150px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 255px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 255px;
    }
}

@media screen and (max-width: 1212px)
{
    .artheb
    {
        width: 200px;
    }
    .imgheberge
    {
        width: 200px;
    }
    .floatpop .nuit1
    {
        padding-bottom: 15px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 248px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 248px;
    }
}

@media screen and (max-width: 1207px)
{
    .imgpop1
    {
        width: 158px;
    }
    .floatpop .nuit 
    {
        flex-wrap: wrap;
        line-height: 10px;
        padding-bottom: 15px;
    }
    .floatpop .nuit2
    {
        flex-wrap: wrap;
        line-height: 10px;
        padding-bottom: 25px;
    }
}   

@media screen and (max-width: 1175px)
{
    .artheb
    {
        width: 190px;
    }
    .imgheberge
    {
        width: 190px;
    }
    .floatpop .nuit1
    {
        flex-wrap: wrap;
        line-height: 10px;
        margin-bottom: -5px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 238px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 238px;
    }
}

@media screen and (max-width: 1168px)
{
    .imgpop1
    {
        width: 175px;
    }
    .floatpop .nuit2
    {
        margin-bottom: 3px;
    }
    .artheb
    {
        width: 190px;
    }
    .imgheberge
    {
        width: 190px;
    }
}

@media screen and (max-width: 1162px)
{
    .floatpop .nuit , .floatpop .nuit2
    {
        margin-bottom: -5px;
        flex-wrap: nowrap;
        display: block;
        padding-bottom: 30px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 235px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 235px;
    }
}

@media screen and (max-width: 1139px)
{
    .artheb
    {
        width: 182px;
    }
    .imgheberge
    {
        width: 182px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 230px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 230px;
    }
}

@media screen and (max-width: 1134px)
{
    .floatpop h3 
    {
        margin-bottom: -5px;
    }
    .floatpop  .nuit1 
    {
        margin-bottom: -15px;
    }
    .floatpop .nuit , .floatpop .nuit2
    {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 1130px)
{
    .floatpop h3 
    {
        margin-top: 5px;
    }
    .floatpop .nuit , .floatpop .nuit2
    {
        margin-bottom: 12px;
    }
}


@media  screen  and (max-width: 1125px)
{
    .hebergement 
    {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
    }
    .art1 , .art2
    {
        flex-direction: column;
    }
    .artheb
    {
        width: 240px;
    }
    .imgheberge
    {
        width: 240px;
    }
    aside
    {
        width: 40%
    }
    .floatpop  .nuit1 
    {
        margin-bottom: 30px;
    }
    .floatpop h3 
    {
        margin-top: 10px;
    }
    .floatpop .nuit , .floatpop .nuit2
    {
        margin-bottom: 30px;
    }
    .imgpop1
    {
        width: 120px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 225px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 225px;
    }
}

@media screen and (max-width: 1100px)
{
    .artheb
    {
        width: 232px;
    }
    .imgheberge
    {
        width: 232px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 228px;
        margin-right: 10px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 228px;
    }
}

@media screen and (max-width: 1075px)
{
.floatpop .nuit2
{
    margin-bottom: 15px;
}
}

@media screen and (max-width: 1064px)
{
    .floatpop .nuit
    {
        margin-bottom: 15px;
    }
    .artheb
    {
        width: 222px;
    }
    .imgheberge
    {
        width: 222px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 218px;
        margin-right: 10px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 218px;
    }
}


@media screen and (max-width: 1023px)
{
    .artheb
    {
        margin-left: 20px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 282px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
    .figact2 , .figact5
    {
        margin-bottom: 20px;
    }
    .figact4 , .figact5 , .figact6
    {
        margin-bottom: 0px;
    }
    .act
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .act a 
    {
        display: inline;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 282px;
        height: 160px;
    }
    .bloc2 , .bloc3
    {
        flex-direction: row;
        display: flex;
    }
}

@media screen and (max-width: 1015px)
{
    .imgpop1
    {
        width: 130px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 285px;
        margin-right: 10px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 285px;
    }
}

@media screen and (max-width: 994px)
{
    .imgpop1
    {
        width: 140px;
    }
    .artheb
    {
        width: 215px;
    }
    .imgheberge
    {
        width: 215px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 278px;
        margin-right: 10px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 278px;
    }
}

@media screen and (max-width: 989px)
{
    .eco , .famille , .romantic , .animaux 
    {
        padding-right: 10px;
    }
    .artheb
    {
        width: 225px;
    }
    .imgheberge
    {
        width: 225px;
    }
    aside
    {
        width: 35%;
    }
    .artpop
    {
        width: 77%;
    }
    .imgpop1
    {
        width: 170px;
    }
    .floatpop .nuit , .floatpop .nuit1 , .floatpop .nuit2
    {
        margin-bottom: 5px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        margin-right: 7px;
    }
}

@media screen and (max-width: 985px)
{
    .floatpop .nuit1
    {
        margin-bottom: -10px;
    }
}

@media screen and (max-width: 982px)
{
    .eco , .famille , .romantic , .animaux 
    {
        padding-right: 9px;
    }
    .floatpop h3 
    {
        margin-top: 0px;
    }
    .floatpop .nuit , .floatpop .nuit2
    {
        margin-bottom: 19px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        margin-right: 8px;
    }
}

@media screen and (max-width: 978px)
{
    body 
    {
        margin-top: 0px;
        margin-right: -20px;
        margin-left: -20px;
    }
    .eco , .famille , .romantic , .animaux 
    {
        padding-right: 10px;
    }
    .artheb
    {
        width: 235px;
    }
    
    .imgheberge
    {
        width: 235px;
    }
    .artpop
    {
        width: 80%;
        margin-left: 25px;
    }
    .floatpop h3 
    {
        margin-right: 5px;
        margin-top: 10px;
    }
    .floatpop .nuit
    {
        margin-bottom: 5px;
    }
    .floatpop .nuit1
    {
        margin-bottom: 15px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 285px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 285px;
    }
}

@media screen and (max-width: 974px)
{
    .eco , .famille , .romantic , .animaux 
    {
        padding-right: 6px;
    }
    .hebergement
    {
        padding-right: 20px;
        padding-left: 2px;
    }
    .hebergement header
    {
        margin-left: -10px;
    }
    .artheb
    {
        width: 237px;
    }
    .imgheberge
    {
        width: 237px;
    }
    aside .popheader
    {  
        margin-left: -5px;
        margin-right: -5px;
    }
    .artpop
    {
        margin-left: 25px;
    }
    .floatpop h3 
    {
        margin-right: 5px;
        margin-top: 10px;
    }
    .floatpop .nuit , .floatpop .nuit2
    {
        margin-bottom: 8px;
    }
    .floatpop .nuit1
    {
        margin-bottom: 15px;
    }
    .imgpop1
    {
        width: 190px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 285px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 285px;
    }
    .foot2 , .foot3
    {
        margin-left: 160px;
    }
}

@media screen and (max-width: 969px)
{
    body 
    {
        margin-top: 0px;
        margin-right: -20px;
        margin-left: -20px;
    } 
    .eco , .famille , .romantic , .animaux
    {
        padding-left: 55px;
        padding-right: 12px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .section2
    {
        margin-right: 50px;
    }
    .artheb
    {
        width: 235px;
    }
    .imgheberge
    {
        width: 235px;
    }
    .floatpop .nuit1
    {
        margin-bottom: 15px;
    }
    .imgpop1
    {
        width: 178px;
    }
    .section3
    {
        margin-right: 50px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        margin-right: 9px;
    }
    .figact3 , .figact6
    {
        margin-right: -20px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 283px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 283px;
}

@media screen and (max-width: 965px)
{
    .floatpop .nuit1
    {
        margin-bottom: 5px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 282px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 282px;
    
}

@media screen and (max-width: 963px)
{
    .artheb
    {
        width: 232px;
    }
    .imgheberge
    {
        width: 232px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 281px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 281px;
    }
}

@media screen and (max-width: 959px)
{
    .floatpop .nuit1
    {
        margin-bottom: 5px;
    }
    
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 280px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 280px;
    }
}

@media screen and (max-width: 956px)
{
    #filtres li 
    {
        margin-right: -10px;
    }
    .floatpop h3 
    {
        margin-top: 5px;
    }
}

@media screen and (max-width: 951px)
{
    .artheb
    {
        width: 230px;
    }
    .imgheberge
    {
        width: 230px;
    }
    .floatpop .nuit , .floatpop .nuit1 , .floatpop .nuit2
    {
        margin-bottom: 10px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 277px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 277px;
    }
}

@media screen and (max-width: 949px)
{
    .floatpop .nuit1
    {
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 945px)
{
    .artheb
    {
        width: 228px;
    }
    .imgheberge
    {
        width: 228px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 275px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 275px;
    }
}

@media screen and (max-width: 938px)
{
    .artheb
    {
        width: 225px;
    }
    .imgheberge
    {
        width: 225px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 272px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 272px;
    }
}

@media screen and (max-width: 934px)
{
    .floatpop .nuit , .floatpop .nuit2
    {
        margin-bottom: 10px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 270px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 270px;
    }
    
}

@media screen and (max-width: 929px)
{
    .artheb
    {
        width: 220px;
    }
    .imgheberge
    {
        width: 220px;
    }
    .imgpop1
    {
        width: 185px;
    }
    .floatpop .nuit , .floatpop .nuit2
    {
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 924px)
{
    .artheb
    {
        width: 218px;
    }
    .imgheberge
    {
        width: 218px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 268px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 268px;
    }
}

@media screen and (max-width: 918px)
{
    .artheb
    {
        width: 215px;
    }
    .imgheberge
    {
        width: 215px;
    }
    
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 265px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 265px;
    }
}

@media screen and (max-width: 909px)
{
    .artheb
    {
        width: 212px;
    }
    .imgheberge
    {
        width: 212px;
    }
    
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 262px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 262px;
    }
}

@media screen and (max-width: 908px)
{
    .floatpop .nuit1
    {
        margin-bottom: -15px;
    }
}

@media screen and (max-width: 903px)
{
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 260px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 260px;
    }
    .foot2 , .foot3
    {
        margin-left: 140px;
    }
}

@media screen and (max-width: 901px)
{
    .floatpop .nuit
    {
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 899px)
{
    .artheb
    {
        width: 210px;
    }
    .imgheberge
    {
        width: 210px;
    }
}

@media screen and (max-width: 893px)
{
    .artheb
    {
        width: 207px;
    }
    .imgheberge
    {
        width: 207px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 257px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 257px;
    }
}

@media screen and (max-width: 888px)
{
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 255px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 255px;
    }
}

@media screen and (max-width: 884px)
{
    .artheb
    {
        width: 202px;
    }
    .imgheberge
    {
        width: 202px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 252px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 252px;
    }
}

@media screen and (max-width: 873px)
{
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 250px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 250px;
    }
    .foot2 , .foot3
    {
        margin-left: 130px;
    }
}