@media screen and (max-width: 1300px)
{
    .artheb
    {
        width: 220px;
    }
    .imgheberge
    {
        width:220px;
    }
    .artpop
    {
        width: 80%;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 270px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 270px;
    }
}

@media screen and (max-width: 1291px)
{
    .artpop a
    {
        margin-right:0px
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 268px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 268px;
    }
}

@media screen and (max-width: 1264px)
{
    .artheb
    {
        width: 210px;
    }
    .imgheberge
    {
        width: 210px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 260px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 260px;
    }
}

@media screen and (max-width: 1212px)
{
    .artheb
    {
        width: 200px;
    }
    .imgheberge
    {
        width: 200px;
    }
    .floatpop .nuit1
    {
        padding-bottom: 15px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 248px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 248px;
    }
}

@media screen and (max-width: 1207px)
{
    .floatpop .nuit
    {
        flex-wrap: wrap;
        line-height: 10px;
        padding-bottom: 15px;
    }
}   

@media screen and (max-width: 1175px)
{
    .floatpop .nuit1
    {
        flex-wrap: wrap;
        line-height: 10px;
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 1168px)
{
    .artheb
    {
        width: 190px;
    }
    .imgheberge
    {
        width: 190px;
    }
}

@media screen and (max-width: 1162px)
{
    .floatpop .nuit 
    {
        margin-bottom: -5px;
        flex-wrap: nowrap;
        display: block;
        padding-bottom: 30px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 235px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 235px;
    }
}

@media screen and (max-width: 1134px)
{
    .floatpop h3 
    {
        margin-bottom: -5px;
    }
    .floatpop  .nuit1 
    {
        margin-bottom: -15px;
    }
}

@media  screen  and (max-width: 1125px)
{
    .hebergement 
    {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
    }
    .art1 , .art2
    {
        flex-direction: column;
    }
    .artheb
    {
        width: 240px;
    }
    .imgheberge
    {
        width: 240px;
    }
    aside
    {
        width: 40%
    }
    .floatpop  .nuit1 
    {
        margin-bottom: 30px;
    }
    .floatpop .nuit 
    {
        margin-bottom: 15px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 225px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 225px;
    }
}

@media screen and (max-width: 1073px)
{
    .artheb
    {
        width: 225px;
    }
    .imgheberge
    {
        width: 225px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 220px;
        margin-right: 10px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 220px;
    }
}

@media screen and (max-width: 1023px)
{
    .artheb
    {
        margin-left: 20px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 282px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
    .figact2 , .figact5
    {
        margin-bottom: 20px;
    }
    .figact4 , .figact5 , .figact6
    {
        margin-bottom: 0px;
    }
    .act
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .act a 
    {
        display: inline;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 282px;
        width: 282px;
        height: 160px;
    }
    .bloc2 , .bloc3
    {
        flex-direction: row;
        display: flex;
    }
}

@media screen and (max-width: 989px)
{
    .eco , .famille , .romantic , .animaux 
    {
        padding-right: 10px;
    }
    aside
    {
        width: 35%;
    }
    .floatpop .nuit , .floatpop .nuit1
    {
        margin-bottom: 5px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        margin-right: 10px;
    }
}

@media screen and (max-width: 982px)
{
    .eco , .famille , .romantic , .animaux 
    {
        padding-right: 9px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        margin-right: 8px;
    }
}

@media screen and (max-width: 978px)
{
    .eco , .famille , .romantic , .animaux 
    {
        padding-right: 8px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        margin-right: 0px;
    }
}

@media screen and (max-width: 974px)
{
    .eco , .famille , .romantic , .animaux 
    {
        padding-right: 6px;
    }
    .hebergement
    {
        padding-right: 20px;
        padding-left: 2px;
    }
    .hebergement header
    {
        margin-left: -10px;
    }
    aside .popheader
    {  
        margin-left: -5px;
        margin-right: -5px;
    }
    .artpop
    {
        margin-left: 25px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 278px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 278px;
    }
    .foot2 , .foot3
    {
        margin-left: 160px;
    }
}

@media screen and (max-width: 969px)
{
    body 
    {
        margin-right: 0px;
        margin-left: -10px;
    }
    .section2
    {
        margin-right: 50px;
    }
    .section3
    {
        margin-right: 50px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        margin-right: 9px;
    }
    .figact3 , .figact6
    {
        margin-right: -20px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 276px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 276px;
}

@media screen and (max-width: 965px)
{
    
    .figact1 , .figact2 , .figact4 , .figact5
    {
        margin-right: 3px;
    }
}

@media screen and (max-width: 963px)
{
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 272px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 272px;
    }
    .figact1 , .figact2 , .figact4 , .figact5
    {
        margin-right: 8px;
    }
    .floatpop .nuit1
    {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 959px)
{
    .floatpop .nuit1
    {
        margin-bottom: -15px;
    }
    .artheb
    {
        width: 220px;
    }
    .imgheberge
    {
        width: 220px;
    }
    .figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
    {
        width: 270px;
    }
    .imgact1 , .imgact2 , .imgact3, .imgact4 , .imgact5
    {
        width: 270px;
    }
}