/*breakpoint 1920*/
 @media screen and (max-width:2560px) and (min-width:1921px)
{
    .section1, .section2
    {
        padding: 0 20rem;
    }
    .section3
    {
        padding: 0 19rem;
    }
    .artheb
    {
        flex-basis: 350px;
    }  
    .navigation
    {
        padding: 0 19rem;
    }
    footer 
    {
        padding: 3rem 25rem 0 25rem;
    } 
} 

@media screen and (max-width:1920px) and (min-width:1440px)
{
    .artheb
    {
        flex-basis: 400px;
    }  
}

@media screen and (max-width:1439px) and (min-width:1024px)
{
    .div-act
    {
        flex-basis: 190px;
    }  
    .pop-bloc
    {
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 2;
        flex-basis: 150px;
    } 
}

@media screen and (max-width:1023px) and (min-width:768px) 
{
    .section2
    {
       flex-direction: column;
    }
    .hebergement
    {
        order: 2;
        margin-right: 0;
        flex-basis: 100px; 
    }

    /*populaires*/
    .populaire
    {
        order: 1;
        margin-bottom: 2rem;
    }
    .pop-bloc
    {
        flex-direction: row;
    } 
    .floatpop /*figcaption populaire*/
    {
        margin: 0.3rem  0.2rem 0.5rem -0.2rem;
    } 
    .etoiles
    {
        margin-top: auto; 
    }

    /*activites*/
     .bloc-act2
    {
        order: 3; 
        margin: 1rem 1rem 1rem 0; 
        flex-direction: column;
    } 
    .bloc-act1
    {
        margin: 0 0 1rem 1rem; 
    }
    .activite4
    {
        order: 4;  
        margin: 1rem 0 1rem 1rem;
        padding: 0;  
    } 
     .div-act, .bloc-act1, .bloc-act2
    {
        flex-basis: 300px;
        flex-grow: 2;
        flex-shrink: 2;
    }  
}

@media screen and (max-width: 767px) and  (min-width:426px) 
{
    /*header*/
    .navigation
    {
        margin: 1.2rem;
    }
    .container-nav
    {
        padding: 1rem;
    }
    .nav1
    {
        padding-left: 2rem;
        padding-right: 1rem;
    }
    .nav2
    {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    
        /*section2*/
    .section1 , .section2 
    {
        margin: 0.5rem;
    }
    .section2
    {
        flex-direction: column;
    }
    .hebergement
    {
        order: 2;
        width: 100%; 
    }
    .populaire
    {
        order: 1;
        width: 100%;
        margin-bottom: 2rem;
    }
    .pop-bloc
    {
        flex-direction: column;
    } 

    /*footer*/
    .footer 
    {
        justify-content: space-between;
        margin: 1.5rem;
    }

    /*Activite*/
     .section3 
    {
        margin: 1.8rem;
    }
    .bloc-act2
    {
        order: 3; 
        margin: 1rem 1rem 1rem 0; 
        flex-direction: column; 
    } 
    .bloc-act1
    {
        margin: 0 0 1rem 1rem; 
    }
    .div-act, .bloc-act1, .bloc-act2
    {
        flex-basis: 230px;
        flex-grow: 2;
        flex-shrink: 3;
    }
    .activite4
    {
        order: 4;  
        margin: 1rem 0 1rem 1rem;
        padding: 0;  
    }  
    footer  
    {
        padding:  1.5rem 0 0 1.8rem;
    }
    footer li 
    {
        justify-content: center;
    }
}

 @media screen and (max-width:571px) and (min-width:426px) 
{  
    /*Activite*/
    .section3 
    {
        margin: 1.5rem;
    }
    .bloc-act2, .bloc-act1
    {
        margin: 0 0 2rem 0;
    } 
    .div-act, .bloc-act1, .bloc-act2
    {
        flex-basis: 270px;
        flex-grow: 2;
        flex-shrink: 3;
    }
    .activite1
    {
        margin: 1rem 0 2rem 0;
    } 
    .activite2
    {
        margin-bottom: 2rem;
    } 
    .activite3 , .activite5 
    {
        height: 210px;
    }  
    .activite4
    {
        margin: 0 0 0.5rem 0;
    }
    .activite5 
    {
        margin-bottom: 2rem;
    } 
    .activite6 
    {
        margin-bottom: 0;
    }
    .figact img
    {
        height: 160px;
    }  
}   

@media screen and (max-width:425px) and (min-width:320px) 
{
    .section1 , .section2 
    {
        margin: 0rem;
    } 

    /*header*/
    .navigation 
    {
        display: flex; 
        flex-wrap: wrap;
        margin: 1rem; 
    }
    .bloc-nav 
    {
        margin: 0 ;
        width: 100%;
    }
    .container-nav
    {
        padding: 0;
        width: 100%;
    }
    #menu
    {
        padding-bottom: 0;
        width: 100%;
    } 
    nav 
    {
        width: 100%;
    }
    .inscrire 
    {
        display: none;
    }
    .inscrire-mobile
    {
        display: flex;
        color: #0065fc;
        font-weight: bold;
        padding: 1rem 0 1.5rem 0;
    }
    .nav1
    {
        line-height: 3rem;
        border-bottom: 2px solid #0065fc;
        border-top: none;
        margin: 0 -1rem 0 -2rem; 
        padding: 1rem 4rem 1rem 2rem;
    }
    .nav2
    {
        line-height: 3rem;
        border-bottom: 2px solid #f2f2f2;
        border-top: none;
        padding: 1rem 3rem 1rem 3rem  ;  
        margin:  0 0 0 -1rem; 
    } 

    /*section1*/
    .section1 
    {
        margin: 1.5rem;
        padding: 0;
    }
    h1 
    {
        padding-bottom: 1rem;
    }
    .soustitre
    {
        padding-bottom: 2rem;
    }
    .boutonsearch
    {
        display: none;
    }
    .recherche 
    {
        margin-bottom: 1rem;
    }
    .rechercher
    {
       max-width: 270px;  
    }
    .champ
    {
        height: 60%;
        width: 70%;
    }
    .fa-search
    {
        background-color: #0065fc;
        color: white;
        border-radius:  1rem ;
        padding: 0.9rem;
        position: absolute; 
    }
    .filtres
    {
        flex-wrap: wrap;
        font-weight: bold;
        gap: 0;
    }
    .filtre-choix
    {
        gap: 0.8rem;
    }

    /*section2*/
    .section2 
    {
        margin: 0;
        padding: 0;
    }
    .artheb
    {
        margin-bottom: 0rem;
    }
    .hebergement
    {
        order: 2;
        width: 100%; 
        padding: 0.5rem;
        background-color: white;
        margin: 0;
    }
    .populaire
    {
        order: 1;
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 0.5rem 0.5rem 2rem 0.5rem;
    }
    .pop-bloc
    {
        flex-direction: column;
    } 
    .artpop
    {
        margin-bottom: 0;
    } 

    /*section3*/
    .section3 
    {
        margin: 1.5rem;
    }
    .bloc-act1, .bloc-act2
    {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
    } 
    .activite1, .activite4
    {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
    } 
    .activite2
    {
        margin-bottom: 1rem;
    } 
    .activite3 , .activite5 
    {
        height: 210px;
    }  
    .activite5 
    {
        margin-bottom: 1rem;
    } 
    .activite6 
    {
        margin-bottom: -1rem;
    }
    .figact img
    {
        height: 160px;
    }  

    /*footer*/
    footer 
    {
        flex-direction: column;
    }  
}
