@font-face
{
    font-family: 'raleway';
    src: url('Raleway.ttf');
    src: url('Raleway-Regular.ttf');
    src: url('Raleway-Bold.ttf');
}

.header
{
    display: flex;
    justify-content: space-between;
    line-height: 1.15px;
    padding-left: 50px;
    padding-right:50px;
    padding-top: 40px;
}

body
{
    font-family: 'Raleway';
    margin: 0px;
}

#menu 
{
    color: black;
}

.nav 
{
    color: black;
    
}

a:focus
{
    color: #0065fc;
}

a
{
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 12pt;
    margin-right: 30px;
}

.inscrire
{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 4px;
    margin-left: 15px;
    color: #0065fc;
}

h1
{
    font-size: 15pt;
}

.section1 , .section2 , aside , #activite
{
    margin-right: 50px;
    margin-left: 50px;
}

h2 
{
    font-size: 15pt;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
}

p
{
    font-family: 'Raleway';
    font-size: 12pt;
    line-height: 1px;
}

form
{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.fa-map-marker-alt
{
    border-radius: 1rem 0 0 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #F2F2F2;
}


.boutonsearch
{
    color: white;
    background-color: #0065fc;
    border-radius: 0 1rem 1rem 0;
    padding: 15px;
    font-family: "Raleway";
    font-size: 12pt;
}

.champ
{
    font-weight: bold;
    color: black;
    font-family: "Raleway";
    font-size: 12pt;
}

li
{ 
   margin: 10px;
   padding: 10px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#filtres
{
    color: black;
    display: flex;
    font-weight: bold;
}

.filter
{
    padding-top: 35px;
    margin-right: 30px;
}

.eco , .famille , .romantic , .animaux
{
    color: black;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 2rem 2rem 2rem 2rem;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    padding-right: 12px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: "Raleway";
    border: 2px solid #f2f2f2;
}

.fa-money-bill-wave , .fa-child , .fa-heart , .fa-dog 
{
    color: #0065fc;
}

.fa-heart , .fa-dog
{
    padding: 15px;
    border-radius: 2rem 2rem 2rem 2rem;
    background-color: #DEEBFF;
}

.fa-money-bill-wave
{
    margin-right: -50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 2rem 2rem 2rem 2rem;
    background-color: #DEEBFF;
}

.fa-heart
{
    margin-right: -50px; 
}

.fa-dog
{
    margin-right: -52px; 
}

.fa-child 
{
    padding-top: 15px;
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 17px;
    border-radius: 3rem 3rem 3rem 3rem;
    background-color: #DEEBFF; 
    margin-right: -50px;
}

.info
{
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
}

.fa-info
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 2px solid #f2f2f2;
}

.fa-info , .fa-star
{
    color: #0065fc;
}

#star 
{
    color: #f2f2f2;
}

img
{
    display: flex;
    border-radius: 1rem 1rem 0 0;
    max-width: 30%;
}

.section2 article
{
    display: flex;
    flex-direction: column;
}

.section2
{
    border-radius: 15px;
}

.art1
{
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

article
{
    background-color: #ffffff;
    padding: 40px;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px lightgrey;
}

#hebergement
{
    background-color: black;
    width: 80%;
}

.hebergeheader
{
    margin-top: 20px;
}

figure
{
    margin: 0;
}

aside
{
    width: 30%;
    border-radius: 15px;
    margin: 40px;
    margin-top:20px ;
    background-color: #F2F2F2;
}

#populaire
{
    background-color: #F2F2F2;
}

.popheader
{
    display: flex;
    justify-content: space-between;
    line-height: 1.15px;
    margin-top: 10px;
    margin-left: 20px;
}

.fa-chart-line
{
    float: right;
}

#activite
{
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    justify-content: flex-start;
}

.footer
{
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    align-items: flex-start;
}