@font-face
{
    font-family: 'raleway';
    src: url('Raleway.ttf');
    src: url('Raleway-Regular.ttf');
    src: url('Raleway-Bold.ttf');
}

.header
{
    display: flex;
    justify-content: space-between;
    line-height: 1.15px;
}

body
{
    font-family: 'Raleway';
    padding: 40px;
    
}

.menu
{
    color: #0065fc;
}

a:focus
{
    color: black;
}

a
{
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 11pt;
    margin-right: 30px;
}

.inscrire
{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 4px;
    margin-left: 15px;
}

h1
{
    font-size: 15pt;
    margin-top: 30px;
}

p
{
    font-family: 'Raleway';
    font-size: 12pt;
    line-height: 1px;
}

form
{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
}

.boutontext
{
    color: white;
    background-color: #0065fc;
    border-radius: 0 1rem 1rem 0;
    padding: 15px;
    font-family: "Raleway";
    font-size: 12pt;
}

.champ
{
    font-weight: bold;
    color: black;
    font-family: "Raleway";
    font-size: 12pt;
}

.iconsearch
{
    background-color: #F2F2F2;
    padding: 22px;
    border-radius: 1rem 0 0 1rem;
}

li
{ 
   margin: 10px;
   padding: 10px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#filtres
{
    color: black;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

.filter
{
    padding-left: 0px;
    margin-left: 0px;
}
.eco , .famille , .romantic , .animaux
{
    color: black;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 10px;
    font-family: "Raleway";
    border: 2px;
    background-color: gray;
}

.iconeco , .iconfam , .iconrom , .iconanim
{
    background-color: #F2F2F2;
    padding: 17px;;
    border-radius: 2rem 2rem 2rem 2rem;
}

h2 , h3 
{
    padding: 10px;
    margin: 10px;
}

section
{
    display: flex;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

article
{
    background-color: #ffffff;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px lightgrey;
    display: flex;
    flex-wrap: wrap;
}

#hebergement
{
    background-color: #F2F2F2;
    width: 60%;
    display: inline;
    flex-wrap: wrap;
}

aside
{
    width: 30%;
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    background-color: #F2F2F2;
}

#populaire
{
    background-color: #F2F2F2;
}


footer
{
    background-color: #F2F2F2;
}