@font-face
{
    font-family: 'raleway';
    src: url('Raleway.ttf');
    src: url('Raleway-Regular.ttf');
    src: url('Raleway-Bold.ttf');
}

.header
{
    display: flex;
    justify-content: space-between;
    line-height: 1.15px;
    padding-left: 50px;
    padding-right:50px;
    padding-top: 40px;
}

body
{
    font-family: 'Raleway';
    margin: 0px;
}

#menu 
{
    color: black;
    
}

.nav 
{
    color: black;
    
}

a:focus
{
    color: #0065fc;
}

a
{
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 12pt;
    margin-right: 30px;
}

.inscrire
{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 4px;
    margin-left: 15px;
    color: #0065fc;
}

h1
{
    font-size: 15pt;
}

.section1 , .section2 , aside , #activite
{
    margin-right: 50px;
    margin-left: 50px;
}

h2 
{
    font-size: 15pt;
    padding-right: 40px;
    padding-left: 30px;
    padding-top: 20px;
}

p
{
    font-family: 'Raleway';
    font-size: 12pt;
    line-height: 1px;
}

form
{
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.fa-map-marker-alt
{
    border-radius: 1rem 0 0 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #F2F2F2;
}

.boutonsearch
{
    color: white;
    background-color: #0065fc;
    border-radius: 0 1rem 1rem 0;
    padding: 15px;
    font-family: "Raleway";
    font-size: 12pt;
}

.champ
{
    font-weight: bold;
    color: black;
    font-family: "Raleway";
    font-size: 12pt;
}

li
{ 
   margin: 10px;
   padding: 10px;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#filtres
{
    color: black;
    display: flex;
    font-weight: bold;
}

.filter
{
    padding-top: 35px;
    margin-right: 10px;
}

.eco , .famille , .romantic , .animaux
{
    color: black;
    font-weight: bold;
    font-size: 12pt;
    border-radius: 2rem 2rem 2rem 2rem;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 55px;
    padding-right: 12px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: "Raleway";
    border: 2px solid #f2f2f2;
}

.fa-money-bill-wave , .fa-child , .fa-heart , .fa-dog 
{
    color: #0065fc;
}

.fa-heart , .fa-dog
{
    padding: 15px;
    border-radius: 2rem 2rem 2rem 2rem;
    background-color: #DEEBFF;
}

.fa-money-bill-wave
{
    margin-right: -50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 2rem 2rem 2rem 2rem;
    background-color: #DEEBFF;
}

.fa-heart
{
    margin-right: -50px; 
}

.fa-dog
{
    margin-right: -52px; 
}

.fa-child 
{
    padding-top: 15px;
    padding-right: 17px;
    padding-bottom: 15px;
    padding-left: 17px;
    border-radius: 3rem 3rem 3rem 3rem;
    background-color: #DEEBFF; 
    margin-right: -50px;
}

.info
{
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
}

.fa-info
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 10px;
    border-radius: 2rem 2rem 2rem 2rem;
    border: 2px solid #f2f2f2;
    font-family: 'Raleway';
}

.fa-info , .fa-star
{
    color: #0065fc;
}

#star 
{
    color: #f2f2f2;
}

img
{
    display: flex;
    border-radius: 15px 15px 0 0;
}

.imgheberge
{
    background-size: cover;
    width: 230px;
    height: 105px;
}

.section2
{
    border-radius: 15px;
    display: flex;
    margin-right: 0px;
    margin-top: 10px;
}

.nuit
{
    font-size: 11pt;
}

.hebergement
{
    width: 70%;
    border-radius: 15px;
    background-color: #F2F2F2;
}

.artheb
{
    width: 230px;
    margin-right: 0px;
    margin-left: 30px;
    margin-top: 10px;
}

.art1 , .art2 
{
    background-color: #F2F2F2;
    border-radius: 15px;
    display: flex;
}

article
{
    background-color: #ffffff;
    padding: 5px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 2px 2px 12px  lightgrey;
    display: flex;
}

h3
{
    font-size: 12pt;
    flex-wrap: wrap;
}

figure
{
    margin: 0;  
    
}

figcaption
{
    padding-left: 10px;
    padding-bottom: 5px;
}

.affiche
{
    text-align: left;
    margin-left: 30px;
    margin-bottom: 50px;
    font-weight: bold;
}

aside
{
    width: 30%;
    border-radius: 15px;
    margin-top: 1px;
    margin-left: 40px;
    background-color: #F2F2F2;
    
}

.popheader
{
    display: flex;
    justify-content: space-between;
    line-height: 1.15px;
    margin-top: 5px;
}

.fa-chart-line
{
    float: right;
    margin-top:30px;
    margin-right: 40px;
}

.imgpop
{
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 15px  0 0 15px;
}

.section2 article
{
    display: flex;
}

.floatpop
{
    float: right;
}

.figpop
{
    display: flex;
    width: 100%;
}

#activite
{
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.titreact
{
    padding-left: 0px;
}

.act
{
    display: flex;
    padding-right: 50px;
    padding-bottom: 50px;
}

.figact1 , .figact2 , .figact3 , .figact4 , .figact5 , .figact6
{
    box-shadow: 2px 2px 12px  lightgrey;
    width: 282px;
    border-radius: 15px 15px 15px 15px;
    margin-right: 40px;
}

.figact2
{
    margin-bottom: 40px;
}

.figact5
{
    margin-bottom: 40px;
}

.bloc2
{
    flex-direction: column;
}

.bloc3
{
    flex-direction: column;
}

.imgact1
{
    background-size: cover;
    width: 282px;
    height: 365px;
    border-radius: 15px 15px 0 0;
}

.imgact2
{
    width: 282px;
    height: 160px;
}

.imgact3
{
    width: 282px;
    height: 110px;
}

.imgact4
{
    width: 282px;
    height: 130px;
}

.imgact5
{
    width: 282px;
    height: 140px;
}

.footer
{
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
   
}

.foot1
{
    flex-direction: column;
    padding: 0px;
    margin-left: 10px;
}

.foot1 li , .foot2 li , .foot3 li
{
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
}

.foot2
{
    margin-left: 150px;
}

.foot3
{
    margin-left: 230px;
}

.titrefoot
{
    margin-left: 20px;
}